.highlight
{
    position: absolute;
    display: flex;
    z-index: -1;
}

@keyframes bounce 
{
    from {outline-offset: 0px;}
    to {outline-offset: 5px;}
}

.bouncing
{
    animation-name: bounce;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}