@keyframes bouncing {
    from {outline-offset: 0px;}
    to {outline-offset: 10px;}
}

.highlight {
    overflow: visible;
}

.highlight::before {
    content: '';
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    outline: 8px solid orange;
    border-radius: 30px;
    -moz-outline-radius: 20px;
    animation-name: bouncing;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 0.5s;
}