div#shieldHull
{
    display: flex;
    position: absolute;
    left: 23.6076%;
    right: 61.8%;
    top: 0%;
    bottom: 61.8%;
    margin: 0.5rem;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

img#hull, img#shield
{
    width: 5vmin;
}

@keyframes shake 
{
    /* 0% {transform: translateX(1px)}
    50% {transform: translateX(-1px)}
    100% {transform: translateX(1px)} */
    0% { transform: translate(1px, 1px) rotate( 0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake
{
    animation-name: shake;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(.36,.07,.19,.97);
    animation-direction: normal;
}

.shaking
{
    animation-name: shake;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.36,.07,.19,.97);
    animation-direction: normal;
}

@keyframes mildShake 
{
    /* 0% {transform: translateX(1px)}
    50% {transform: translateX(-1px)}
    100% {transform: translateX(1px)} */
    0% { transform: translate(0.5px, 0.5px) rotate( 0deg); }
    10% { transform: translate(-0.5px, -1px) rotate(-0.5deg); }
    20% { transform: translate(-1.5px, 0px) rotate(0.5deg); }
    30% { transform: translate(1.5px, 1px) rotate(0deg); }
    40% { transform: translate(0.5px, -0.5px) rotate(0.5deg); }
    50% { transform: translate(-0.5px, 1px) rotate(-0.5deg); }
    60% { transform: translate(-1.5px, 0.5px) rotate(0deg); }
    70% { transform: translate(1.5px, 0.5px) rotate(-0.5deg); }
    80% { transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
    90% { transform: translate(0.5px, 1px) rotate(0deg); }
    100% { transform: translate(0.5px, -1px) rotate(-0.5deg); }
}

.mildShaking
{
    animation-name: mildShake;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.36,.07,.19,.97);
    animation-direction: normal;
}

img#shieldHurt
{
    position: absolute;
    top: 0;
    left: 0;
}

div#shieldHull > table
{
    opacity: 100%;
    width: 5vmin;
    height: 5vmin;
    margin-left: 1vmin;
}

table#hull
{
    background-color: gray;
    background-size: 1vmin;
    border-radius: 1vmin;
    border: 3px dashed rgb(77, 77, 77)

}
table#shield
{
    background-color: rgba(180, 255, 173, 0.5);
    border-radius: 1vmin;
    border: 3px dashed greenyellow;
}

@keyframes fade
{
    0% {opacity: 100%;}
    50% {opacity: 50%;}
    100% {opacity: 100%;}
}

.fading
{
    animation-name: fade;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}