img#hull, img#shield
{
    width: 5vh;
}

@keyframes shake 
{
    /* 0% {transform: translateX(1px)}
    50% {transform: translateX(-1px)}
    100% {transform: translateX(1px)} */
    0% { transform: translate(1px, 1px) rotate( 0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake
{
    animation-name: shake;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(.36,.07,.19,.97);
    animation-direction: normal;
}

.shaking
{
    animation-name: shake;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.36,.07,.19,.97);
    animation-direction: normal;
}

img#shieldHurt
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50vh;
    filter: hue-rotate(0deg);
}

table#hull
{
    position: absolute;
    top: 5vh;
    width: 5vh;
    left: 15%;
    transform: translate(0, 0);
    animation-direction: normal;
}
table#shield
{
    position: absolute;
    width: 5vh;
    top: 5vh;
    left: calc(15% + 7.5vh);
    transform: translate(0, 0);
}

@keyframes fade
{
    0% {opacity: 100%;}
    50% {opacity: 50%;}
    100% {opacity: 100%;}
}

.fading
{
    animation-name: fade;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}