div#ship > img#ship, div#ship > img#shieldHurt
{
    object-fit: contain;
    max-height: 75vh;
    width: 100%;
}

div#ship
{
    display: inline-block;
    align-items: center;
    position: absolute;
    right: 30.90169945vw;
    top: 50%;
    transform: translate(50%, -50%);
}

div#ship > div#crew
{
    position: absolute;
    height: 29.5%;
    width: 45%;
    top: 0px;
    left: 27.5%;
}

div#ship > div#fire
{
    position: absolute;
    height: 21.5%;
    width: 53%;
    top: 29.5%;
    left: 23.5%
}

div#ship > div#infirmary
{
    position: absolute;
    height: 34.5%;
    width: 55%;
    top: 51%;
    left: 0.5%
}

div#ship > div#recharge
{
    position: absolute;
    height: 34.5%;
    width: 44%;
    top: 51%;
    left: 55.5%
}

div#ship > div#repair
{
    position: absolute;
    height: 18.5%;
    width: 37.5%;
    top: 73%;
    left: 31%
}

