html, body 
{
    height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    background: url("../assets/background.gif") center repeat-x;
    background-image: url("../assets/Ougon_kaiten_energy.jpg");
    background-size: 100vw 100%;    
    /* background-size: auto 100%; */
}

img
{
    image-rendering: optimizeQuality;
    margin: auto;
    padding: 0;
    display: block;
    min-width: none;
    min-height: none;
}

@font-face 
{
    font-family: Orbitron;
    src: url(../assets/fonts/orbitron-light.otf);
}

@font-face 
{
    font-family: Orbitron;
    src: url(../assets/fonts/orbitron-bold.otf); 
    font-weight: bold;
}

*
{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: Orbitron;
    overflow: hidden;
}