html, body 
{
    height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    background: url("../assets/background.gif") center repeat-x;
    width: 100vw;
    height: 100vh;
    background-size: auto 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img
{
    image-rendering: crisp-edges;
    margin: auto;
    padding: 0;
    display: block;
    min-width: none;
    min-height: none;
}

*
{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}