div#threats-tab {
    display: flex;
    position: absolute;
    height: 20vh;
    width: 30px;
    right: 0;
    top: 0;
    background-color: rgb(255, 70, 70);
    border-radius: 10px 0 0 10px;
    writing-mode: tb-rl;
    padding: 10px;
    font-size: 3vmin;
    text-shadow:
    -1px -1px 0 #fff, /*Foo Fightaz*/
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

div#threats {
    /* display: flex; */
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background-color: rgb(255, 70, 70);
    border-radius: 0 0 0 50px;
    flex-direction: column;
    overflow: scroll;
    padding-top: calc(5% + 5px);
}

::-webkit-scrollbar {
    display: none;
}

div#threats > div#activity-monitor {
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: rgb(136, 37, 37);
    color: white;
    border-radius: 15px 0 15px 15px;
    height: 5%;
    overflow: visible;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    z-index: 9001; /*it's over 9000*/
    font-size: 0.75vw;

}

div#threats > div#activity-monitor > img.activity {
    width: 1.5vw;
    margin: 0;
}

div#threats > div.threat-ship {
    width: 90%;
    margin: auto;
    border-radius: 15px;
    position: relative;
    margin-bottom: 20px;
}

div.threat-ship > img#ship {
    width: 100%;
}

div.threat-ship > img.activity {
    position: absolute;
    width: 0.5cqw;
    transform: translate(-50%, -50%);
}

div.threat-ship > p#hp {
    font-size: 0.9cqw;
    font-weight: bold;
    position: absolute;
    top: 2%;
    left: 1.5cqw;
    color: white
}

@keyframes fire {
    0% {outline: 0px solid red; outline-offset: 0px;}
    90% {outline: 10px solid red; outline-offset: -5px;}
    100% {outline: 0px solid red; outline-offset: 0px;}
}

.fire {
    /* outline-color: red; */
    animation-name: fire;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes blinking {
    from {visibility: visible;}
    to {visibility: hidden;}
}

.blinking {
    animation-name: blinking;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, start);
    animation-duration: 0.5s;
}